<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8">
        <title>paws n claws</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->
        <div class="container-fluid topbar-top bg-primary">
            <div class="container">
                <div class="d-flex justify-content-between topbar py-2">
                    <div class="d-flex align-items-center flex-shrink-0 topbar-info">
                        <a href="#" class="me-4 text-secondary"><i class="fas fa-map-marker-alt me-2 text-dark"></i>Kadavnthra Ernakulam</a>
                        <a href="#" class="me-4 text-secondary"><i class="fas fa-phone-alt me-2 text-dark"></i>964552232</a>
                        <a href="#" class="text-secondary"><i class="fas fa-envelope me-2 text-dark"></i>sridhinka00@gmail.com</a>
                    </div>
                    <div class="text-end pe-4 me-4 border-end border-dark search-btn">
                        <div class="search-form">
                            <form method="post" action="index.html">
                                <div class="form-group">
                                  
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center topbar-icon">
                        <a href="#" class="me-4"><i class="fab fa-facebook-f text-dark"></i></a>
                        <a href="#" class="me-4"><i class="fab fa-twitter text-dark"></i></a>
                        <a href="#" class="me-4"><i class="fab fa-instagram text-dark"></i></a>
                        <a href="#" class=""><i class="fab fa-linkedin-in text-dark"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar Start -->
        <div class="container-fluid bg-dark">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg py-lg-0">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="text-primary mb-0 display-5">Paws n<span class="text-white"> Claws</span><i class="fa fa-dog text-primary ms-2"></i></h1>
                    </a>
                    <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-dark"></span>
                    </button>
                    <div class="collapse navbar-collapse me-n3" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <a href="#" class="nav-item nav-link active">Home</a>
                            <a href="#" class="nav-item nav-link">About</a>
                            <a href="opro" class="nav-item nav-link">My Profile</a>
                            <a href="#" class="nav-item nav-link">View Ad</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <div class="container-fluid py-5">
            <div class="container py-5 text-center">
                <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
                    <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Place Your Ad  Here</h5>
                    <h1 class="display-5 w-50 mx-auto">We provide best buyers for you</h1>
                </div>
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".5s">
                        <div class="rounded bg-light pricing-item">
                            <div class="bg-dark py-3 px-5 text-center rounded-top border-bottom border-primary">
                                <h2 class="m-0 text-primary">One Time payment</h2>
                            </div>
                            <form id="payment-form" action="/success" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="px-4 py-5 text-center bg-dark pricing-label pricing-featured mb-2">
                                    <h1 class="mb-0 text-primary">₹500<span class="fs-5 fw-normal"></span></h1>
                                    <p class="mb-0 text-white"></p>
                                </div>
                               
                                    <div class="p-4 text-center fs-5">
                                        <p><i class="fa fa-check text-success me-2"></i>500+ Active Buyers</p>
                                        <p><i class="fa fa-check text-success me-2"></i>Can place Unlimited ads</p>
                                        <button id="razorpay-button" class="btn btn-dark border-0 text-primary rounded-pill px-4 py-3 mt-3">Pay with Razorpay</button>
                                    </div>
                            
                                
                                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                <script>
                                    document.getElementById('razorpay-button').onclick = function (e) {
                                        var options = {
                                            "key": "rzp_test_25QMSu2wWe3zbI",
                                            "amount": 50000,
                                            "currency": "INR",
                                            "name": "Pay to Pasw n Claws",
                                            "description": "This is a test payment",
                                            "image": "https://example.com/your_logo.jpg",
                                            "prefill": {
                                                "name": "Gaurav Kumar",
                                                "email": "django@test.com"
                                            },
                                            "theme": {
                                                "color": "#0000FF"
                                            },
                                            "handler": function (response) {
                                               
                                                window.location.href = "success?payment_id=" + response.razorpay_payment_id;
                                            }
                                            
                                            
                                        };
                                        var rzp1 = new Razorpay(options);
                                        rzp1.open();
                                        e.preventDefault();
                                    };
                                </script>
                            </form>
                        </div>
                    </div>
  
            <div class="container text-center">
                <h2 class="lead">Why Payment</h2>
                <p class="lead">At Paws N Claws , we believe that becoming a member of our pet adoption community offers numerous benefits that enhance your experience and and you get chance to Connect with buyers worldwideorss. Here's why you should consider take a one time paymenr</p>
                
            </div>


            
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary rounded-circle border-3 back-to-top"><i class="fa fa-arrow-up"></i></a>

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>

       
         
            
          
    </body>

</html>